*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
.bg_header{
    height: 300px;
    background-color: #B80000;
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    background-image: url('../image/bg_corona.png');
}
.title_page{
    font-size: 43px;
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
    text-align: left;
    margin: 0 auto;
    padding-top: 30px;
    word-spacing: 7px;
    padding-left: 90px;
    padding-right: 5px;
}

.head_generale_textCenter{
    margin-top: 50px;
    text-transform: capitalize;
    font-weight: bold;
    
    font-size: 17px;
    color:#404040 ;
    text-align: center;
    position: relative;
}
.head_generale_textCenter a {
    text-decoration: none;
}
.head_generale_textCenter a::after{
    content: "";
    height: 3px;
    width: 100%;
    margin-bottom: 12px;
    background-color:#B80000;
    display: inline-block;
}
.cas_generale{
    padding-bottom: 20px;
    border-bottom: 1px solid #E1E1E1;
}
.bloc_number_positives_cases{
    padding-top: 60px;
}
.img_content1{
    height: 30px;
}
.section_content1{
    width: 200px;
    margin: 0 auto;
}
.icon{
    text-align: center;
}
.content-number_api{
    margin-top: 50px;
}
.text_number{
    background-color: #1380A1;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.text_cas{
    text-align: center;
    color: #404040;
    font-weight: bold;
}
.text_center_case_positive{
    color:#404040 ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.row_search_category{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.container_image{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.table{
    margin-top: 23px;
}
.title_pays{
    margin-top:15px;
}
.row_info_Api div {
    padding: 9px 0;
    display: flex;
    justify-content: space-between;
}
.table_info{
    padding: 13px;
    overflow: auto;
    /* display: flex; */
    flex-direction: column;
 }
 
.text_indication{
    padding-top: 70px;
    font-size: 17px;
    color:#5e5b5b ;
    font-weight: bold;
}
.section2_let{
    background-color: #efefef;
}
.section2{
    margin-bottom: 40px;
    min-height: 300px;
}
.container_row1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #efefef;
   
}
.container_row_api1{
    overflow-y: auto;
}
.infecteDeath{
   width: 185px;
   display: flex;
   justify-content: space-between;
}
.api_country{
    padding-top: 9px;
}
.card_img{
    height: 100%;
    width: 100%;
    filter: cover;
}
.infecteDeath ,.api_country{
    color: #5e5b5b;
    font-weight: bold;
    display: inline-block;
}
.span1_sourceinfo{
    color: #5e5b5b;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 23px;
}
.source_info{
    text-align: center;
}

.container_btn{
    text-align: center;
}
.btn{
    padding: 2px 20px;
    border-radius: 7px;
    color: white;
}
.btn_icon1{
   height: 20px;
}
.btn1{
    background-color:#25d366 ;
}
.btn2{
    background-color:#3C5A98 ;
}
.btn3{
    background-color: #47C7FA;
}
.btn4{
    background-color: #615F5D;
}
.container_btn{
    margin-top: 20px;
    margin-bottom: 40px;
}
.title_button{
    margin-bottom: 40px;
}
.input_form{
    margin-top: 16px;
    width: 350px;
    border: 2px solid #615F5D;
    border-radius: 7px;
    outline: none;
    padding-left: 14px;
}

.p_footer{
    text-align: center;
    color: white;
    font-size: 22px;
}
.section5{
    min-height: 200px;
    margin-bottom: 200px;
}
.section4{
  margin-bottom: 60px;
}
.img_card_section5{
    width: 100%;
}
.section5{
    margin-bottom: 50px;
}
.row_b{
    margin-bottom: 40px;
}
.footer_section{
    background-color: #4C4C4C;
    height: 100px;
    display: flex;
    align-items: center;
}
.p_footer{
    color: white;
}
